/* ================ COMMON STYLES ================ */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}
/* ================ COMMON STYLES ================ */

/* ================ HEADER STYLES ================ */
.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-accent {
    color: #2e2f42;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
}

.menu-link:hover, .menu-link:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    color: #434455;
}

.address-link:hover, .address-link:focus {
    color: #404bbf;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
/* ================ HEADER STYLES ================ */

/* ============= HERO SECTION STYLES ============= */
.hero-section {
    background-color: #2e2f42;
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
}

.hero-button:hover, .hero-button:focus {
    background-color: #404bbf;
}
/* ============= HERO SECTION STYLES ============= */

/* =============== BENEFITS STYLES =============== */
.benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-list-text {
    font-size: 16px;
    color: #434455;
}
/* =============== BENEFITS STYLES =============== */

/* ================= TEAM STYLES ================= */
.team-section {
    background-color: #F4F4FD;
}

.team-list-item {
    background-color: #ffffff;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list-text {
    font-size: 16px;
    color: #434455;
}
/* ================= TEAM STYLES ================= */

/* =============== PORTFOLIO STYLES =============== */
.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list-text {
    font-size: 16px;
    color: #434455;
}
/* =============== PORTFOLIO STYLES =============== */

/* ================ FOOTER STYLES ================ */
.page-footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    color: #f4f4fd;
}
/* ================ FOOTER STYLES ================ */